.game-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-top {
        padding-top: 5vh;
    }

    .dices {
        padding-top: 5vh;
        font-size: 15vmin;

        .react-dice-icon {
            color: rgb(185, 32, 32);
            border-radius: 2vh;
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3vh;
        position: relative;
        height: 40vh;

        .roll-dice {
            position: absolute;
            bottom: 0;

        }

        .hold {
            position: absolute;
            margin-bottom: 5vh;
        }

        .win-score {
            width: 20vw;
            text-align: center;
            background: rgba(255, 255, 255, 0.5);
            outline: none;
            border-radius: 2vmin;
            border: none;
            box-shadow: 0 0 1vmin rgb(185, 32, 32);
            font-size: 5vmin;
        }
    }
}