.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    position: relative;

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
        padding-top: 10vh;

        &-title {
            font-size: 5vmin;
            white-space: nowrap;

            .player-id {
                padding: 0 2vmin;
            }

            .react-icon {
                color: rgb(185, 32, 32);
                position: absolute;
            }
            
        }

        .total-score {
            font-size: 8vmin;
        }

        
    }

    .winner-title {
        font-size: 8vmin;
        position: absolute;
        color: rgb(185, 32, 32);
        top: 50%;
        z-index: 1000;
        text-shadow: 0 0 1vmin black;
    }


    &-bottom {
                
        .current-score {
            padding: 3vmin;
            background: rgba(185, 32, 32, 0.774);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: white;
            box-shadow: 0 0 2vh black;
            border-radius: 5vmin 5vmin 0 0;
            
            p {
                white-space: nowrap;
                font-size: 5vmin;
            }
        }
    }

    .player-turn-background {
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        width: 100%;
        height: 100%;
    }


    .play-image-0 {
        background-image: url(../../assets/images/8fd75996f4284f39b57cf452e1753cd7.jpg);
        background-size: 30vmin;
        background-repeat: no-repeat;
        background-position: 50% 60%;
    }

    .play-image-1 {
        background-image: url(../../assets/images/lee-van-cleef-for-a-few-dollars-more-antonios-valamontes.jpg);
        background-size: 30vmin;
        background-repeat: no-repeat;
        background-position: 50% 60%;
    }

}